<html>
    <body>
        <h1>
            Optimal Accessibility Report for {{firstName}} {{lastName}}
        </h1>
        <h2>
            <ul>
                <li>EUID: {{euid}}</li>
                <li>Date Requested: {{requestDate}}</li>
                <li>Overall Accessibility Score:</li>
                <ul>
                    <li>Text Rating: {{accessibilityScore.textRating}}</li>
                    <li>Structure Rating: {{accessibilityScore.strcutureRating}}</li>
                    <li>Color Rating: {{accessibilityScore.colorRating}}</li>
                </ul>
            </ul>
        </h2>
        <ol>
            {{#each posters}}
            <li>
                <ul>
                    <li>Poster Name: {{name}}</li>
                    <li>Poster Accessibility Score:</li>
                    <ul>
                        <li>Text Rating: {{accessibilityScore.textRating}}</li>
                        <li>Structure Rating: {{accessibilityScore.strcutureRating}}</li>
                        <li>Color Rating: {{accessibilityScore.colorRating}}</li>
                    </ul>
                </ul>
            </li>
            {{/each}}
        </ol>
    </body>
</html>